html, body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body{
    background-image: url(../img/stol.webp);
}

main{
    width: 100%;
    height: 100%;
}

[v-cloak] > * { display:none; }


.player{
    width: 100%;
    height: 55%;
}

.enemy{
    width: 100%;
    height: 45%;
}

.flip-card {
    perspective: 1000px;
    width: 20vw;
    max-width: 143px;
    min-width: 30px;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    visibility: visible;
    display: block;
    width: 24vh;
    height: 33.5vh;
}

.shirt {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 24vh;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 11px;
}

.flip-card-back {
    border-radius: 11px;
    transform: rotateY(180deg);
    background-image:url(../img/cardBack.jpg) ;
    background-size: cover;
    height: 33.5vh;
}

.playerCardContainer{
    list-style-type:none;
    padding: 0;
    margin-top: 0;
    display: flex;
    height: 55%;
    max-width: 65%;
    justify-content: flex-start;
}

.enemyCardContainer{
    list-style-type:none;
    padding: 0;
    display: flex;
    height: 67%;
    width: 65%;
    justify-content: flex-start;
}

.showInfo{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.button{
    background-color:rgb(40, 133, 28); 
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    width: 48%;
    height: 40px;
    max-width: 300px;
    max-height: 50px;
    font-size: 90%;
    cursor: pointer;
}

.button:hover{
    background-color:rgb(18, 121, 44); 
}


.playerCard{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.rotate-enter-active {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.rotate-enter {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}


.buttonsContainer{
    height: 19%;
    width: 95%;
    max-height: 85px
}

.imgCard{
    width: 24vh;
}

.outButton{
    height: 15px;
    width: 130px;
    margin-top: 10px;
    font-size: x-small;
    display: contents;
}

.playerScore{
    width: 100px;
    display: inline-block;
}

.outButton:hover{
    color:rgb(250, 15, 15);
}