<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="//unpkg.com/xhook@latest/dist/xhook.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>ОчЪко)</title>
    <link rel="icon" src="/static/img/Gaming-Cards-icon.ico">
    <link rel="shortcut icon" href="/static/img/Gaming-Cards-icon.ico" type="image/x-icon">
</head>
<body>
    {% verbatim %}
    <main>
        <div id="player" class="player" v-cloak>
            <div class="buttonsContainer">
                <button v-if='!importData.data.over && importData.data.myTurn && !importData.data.pauseGame' class="button" @click = 'importData.getCard()'>Достать карту</button>
                <button v-if='!importData.data.over && importData.data.myTurn && !importData.data.pauseGame' class="button" @click = 'importData.overGame()'>Стоп</button>
                <button v-if='importData.data.over && !importData.data.pauseGame' class="button" @click = 'importData.reloadGame()'>Играть еще</button>
                <button v-if='importData.data.pauseGame' class="button" @click = 'importData.startGame()'>Начать партию</button>
                <button v-if='importData.data.over || importData.data.pauseGame' class="button" @click = 'importData.showJoin()'>Игра по сети</button>
                <div v-if="importData.data.myTurn && !importData.data.over && !importData.data.pauseGame" class="showInfo"> Ваш ход</div>
            </div>
                <div v-if="!importData.data.myTurn && !importData.data.over && !importData.data.pauseGame" class="showInfo"> Ход противника</div>
            <div v-if='!importData.data.pauseGame' class="showInfo playerScore">Счет {{importData.data.playerScore}}</div>
            <div v-if='importData.data.over' style="font-size: 30px; color: lightcyan;" class="showInfo">{{importData.data.overMessage}}</div>
            
            <transition-group class='playerCardContainer' name='rotate' tag="ul">
                <li class="flip-card" :key="index" v-for="item, index in importData.data.playerCards">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="imgCard" :src="item">
                        </div>
                    <div class="flip-card-back"></div>                                    
                </li>
            </transition-group>
        
        </div>

        <div id="enemy" class="enemy" v-cloak>
            <div v-if='importData.data.over && !importData.data.pauseGame' class="showInfo">Счет противника {{importData.data.enemyScore}}</div>
            <ul v-if="!importData.data.pauseGame"  class='enemyCardContainer'>
                <li class="flip-card" v-for="item in importData.data.enemyCards">
                        <div class="flip-card-inner":class="{ shirt: !importData.data.over }">
                        <div class="flip-card-front">
                            <img class="imgCard" :src="item">
                        </div>
                        <div class="flip-card-back"></div>
                    </div>
                </li>
            </ul>
            <button class="outButton button" v-if = '!importData.data.pauseGame' @click = 'importData.out()' >Выйти из комнаты</button>
        </div>
    </main>
    {% endverbatim %}
    <script>
        const reloadGameUrl = "{% url 'reloadGame' %}";
        const getCardUrl = "{% url 'getCard' %}";
        const overGameUrl = "{% url 'overGame' %}";
        const overCheckUrl = "{% url 'overCheck' %}";
        const getBotCardUrl = "{% url 'getBotCard' %}";
        const loadGameUrl = "{% url 'loadGame' %}";
        const joinUrl = "{% url 'join'%}";
        const outUrl = "{% url 'out'%}";
    </script>
    
    <script defer src="{% static '/js/jvscrpt.js'%}"></script>
</body>
</html>